<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
</head>

<body>
  <h1><%= title %></h1>
  <p>Membership form goes here</p>
  <% if (typeof user !== 'undefined' && user !== null) { %>
  <p>Logged in as user:
  <p><%= JSON.stringify(user) %></p>
  </p>
  <form method="POST">
    <label for="code">SECRET PASSCODE: </label>
    <input type="text" name="code" />

    <label for="admin">Is this user an Admin? </label>
    <input type="checkbox" id="admin" name="admin" value="true">

    <button type="submit">Authenticate</button>

  </form>
  <% } else { %>
  <p>Not logged in!</p>
  <% } %>
  <a href="/">Return to homepage...</a>
</body>

</html>