<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>

    <% if (typeof user !== 'undefined' && user !== null) { %>
    <form method="post">
      <label for="message">Enter new message Here: </label>
      <input type="text" name="message" />
    </form>
    <% } else { %>
    <p>Sorry, You are not logged in!</p>
    <% } %>

    <a href="/">Back to homepage...</a>
  </body>
</html>
